.wrapper-search {
  position: relative;

  display: flex;
  align-items: center;
  width: 350px;
  input {
    width: 100%;
    padding: 12px 5px;
    border-radius: 4px;
    border: 1px solid #353535;

    outline: none;
    font-style: italic;

    transition: all 0.3s ease;
    &:focus {
      border-color: #fff601;
    }
    &:not(:placeholder-shown) + .wrapper-icon-search {
      color: var(--black-color-3);
    }
  }

  .wrapper-icon-search {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;

    color: var(--black-color-8);

    cursor: pointer;

    &:hover {
      border-radius: 4px;

      color: var(--black-color-3);
      background: var(--black-color-9);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;

      width: 1px;
      height: 100%;

      background: var(--black-color-9);
    }
  }

  .icon-close {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
  }
}
.search-result {
  width: 350px;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  color: var(--white-color);
  background-color: #113960;
  overflow: hidden;
  .heading {
    padding: 4px 12px;
  }

  .footer-wrapper {
    padding: 12px;
    cursor: pointer;
    &:hover {
      background: var(--black-color-9);
    }
    .footer {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      color: var(--white-color);

      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
}

.box {
  padding: 5px 10px;
  border-radius: 4px;

  background-color: var(--black-color-3);
  color: var(--white-color);
}

@media (max-width: 1023px) {
  // .search-on-pc {
  //   display: none;
  // }
}
