.item {
  user-select: none;
  color: var(--white-color);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: normal;
  padding: 15px 11.6px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  &:hover {
    color: #c58560;
  }
  &.active {
    transition: color linear 0.3s;
    color: red;
  }
}
