.wrapper {
  & > div {
    width: 100%;
    max-width: 450px;
    margin: 12px auto 20px;
    .heading {
      color: var(--white-color);
      font-size: 3.2rem;
      margin: 12px 0;
    }
    .form-control-block {
      background-color: #113960;
      border-radius: 6px;
      -webkit-box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0 0 1px rgb(10 10 10 / 2%);
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0 0 1px rgb(10 10 10 / 2%);
      color: #4a4a4a;
      display: block;
      padding: 20px;
      .form-control {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        .form-label {
          color: var(--white-color);
        }
        .form-input {
          flex: 1;
          border: none;
          outline: none;
          padding: 21px 12px;
          font-size: 1.6rem;
          border-radius: 4px;
          margin-top: 8px;
        }
        .error-message {
          color: #ef1d1d;
          margin-top: 8px;
          font-weight: 500;
          font-size: 1.4rem;
        }
      }

      .btn-wrapper {
        width: 100%;
        .btn-block {
          text-align: center;
          margin-bottom: 12px;
        }
        .btn-send-Mail {
          color: var(--white-color);
          font-size: 1.8rem;
          cursor: pointer;
          width: 100%;
          padding: 12px 24px;
          border: 1px solid #3e8ed0;
          background-color: #3e8ed0;
          border-radius: 4px;
          &:hover {
            background-color: #3488ce;
          }
        }
      }
    }
  }

  //    footer-form

  .footer-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    .register,
    .forgot_password,
    span:not(:nth-child(2)) {
      color: #153c5e;
      &:hover:not(:nth-child(2)) {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
      }
    }
  }
}
