.item {
  user-select: none;
  color: #b4b2b9;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: normal;
  padding: 15px 11.6px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  transition: all linear 0.3s;
  &:not(:last-child) {
    margin-right: 14px;
  }
  &:hover {
    color: var(--white-color);
    transition: background-color linear 0.3s;
  }
  &.active {
    color: var(--white-color);
    border-radius: 4px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-width: 12px;
      border-style: solid;
      border-color: transparent transparent var(--brown-color) transparent;
    }
  }
}

@media (max-width: 1023px) {
  .item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
