.wrapper {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.6);

  background-color: var(--white-color);
  table {
    margin: 30px 0;
    border-collapse: collapse;
    border: 1px solid var(--gray-color);
    tr:nth-child(even) {
      background-color: #dfdcdc;
    }
    th,
    td {
      text-align: center;
      padding: 8px 12px;
    }
    .btn-block {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        min-width: 102px;
        border-radius: 4px;
        border: none;

        padding: 8px;
        margin: 8px 4px 8px 0;

        background: #e54545;
        color: var(--white-color);

        user-select: none;
        text-align: center;

        cursor: pointer;
        &:nth-child(2) {
          background: #6169d0;
        }
        &:nth-child(1) {
          background: var(--gray-color);
          color: var(--black-color);
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .button-heading {
    border: none;
    border-radius: 4px;
    padding: 12px;

    color: var(--white-color);
    background: rgba(0, 0, 0, 0.6);

    font-weight: 700;

    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.img-table {
  display: flex;
  object-fit: cover;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  user-select: none;
}

// modal
.form-modal {
  width: 100%;

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
    .form-input {
      // flex: 1;
      // width: 100%;
      margin-bottom: 4px;
      border: none;
      border: 1px solid var(--gray-color);
      padding: 8px;
      border-radius: 4px;
    }
  }

  .btn-block {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }

  .btn-modal {
    padding: 6px 12px;
    min-width: 80px;
    border: none;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  .btn-close-modal {
    cursor: pointer;
    font-size: 3rem;
    &:hover {
      opacity: 0.8;
    }
  }
}
