@import "normalize.css";

:root {
  --content-color: #06121e;
  // --header-color: #331169;
  --header-color: transparent;

  --black-color: #000;
  --black-color-2: #222;
  --black-color-3: #333;
  --black-color-4: #444;
  --black-color-5: #555;
  --black-color-8: #888;
  --black-color-9: #999;

  --yellow-color: #dacb46;
  --white-color: #fff;
  --brown-color: #c58560;

  --gray-color: #ccc;
  --gray-color-db: #dbdbdb;
  --gray-color-7a: #7a7a7a;
  --gray-color-b5: #b5b5b5;
  --gray-color-a3: #a3a3a3;

  --blue-color-06121e: #06121e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  // background: #6f7f72;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: Netflix Sans;
  src: url("../../assets/fonts/NetflixSans_W_Md.woff2");
  font-weight: 700;
}

@font-face {
  font-family: Netflix Sans;
  src: url("../../assets/fonts/NetflixSans_W_Rg.woff2");
  font-weight: 400;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

@media (min-width: 1024px) {
  html ::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  html ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 9.8);
    border-radius: 4px;
    overflow: overlay;
  }
}
@media (min-width: 1024px) {
  html ::-webkit-scrollbar-track {
    overflow: overlay;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
  }
}
