.wrapper {
  .container {
    margin-left: 70px;
    &.active {
      margin-left: 260px;
    }
    .headder {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: -2;

      background: var(--white-color);
    }
    .content {
      min-height: 100vh;
      padding: 24px 12px;

      background: vaR(--gray-color);
    }
  }
}

@media (max-width: 739px) {
  .wrapper {
    .container {
      margin-left: 0;
      &.active {
        margin-left: 0;
      }
    }
  }
}
