.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 24px;

  .left-block {
    display: flex;
    align-items: center;
    .search-block {
      position: relative;

      margin: 0 0 0 12px;
      .search-icon-block {
        position: absolute;
        top: 50%;
        left: 8px;

        padding: 8px;

        transform: translateY(-50%);

        cursor: pointer;
        .search-icon {
          width: 20px;
          height: 20px;
        }
      }
      input {
        flex-shrink: 0;

        height: calc(1.5em + 0.9rem + 2px);
        padding: 12px 12px 12px 48px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        background-color: #f1f3fa;

        outline: none;
      }
      .btn-search {
        padding: 7px 15px;
        border-color: #5b63c4;
        border: none;
        box-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);

        color: var(--white-color);
        background-color: #6169d0;

        cursor: pointer;
      }
    }
  }
  .right-block {
    display: flex;
    align-items: center;
    .avatar-block {
      display: flex;
      align-items: center;
      border: 1px solid #f1f3fa;
      border-width: 0 1px;

      gap: 12px;
      margin: 0 10px;
      padding: calc(31px * 0.5) 20px calc(31px * 0.5) 26px !important;

      color: #98a6ad;
      background-color: #fafbfd;

      cursor: pointer;
      &:hover {
        color: var(--black-color);
      }

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .search-icon-block-on-tablet-mobile,
    .bell-icon-block,
    .setting-icon-block {
      position: relative;

      display: block;
      margin: 0 10px;
      padding: 0;

      color: #98a6ad;

      text-align: center;

      cursor: pointer;
    }
    .search-icon-on-tablet-mobile,
    .bell-icon,
    .setting-icon {
      width: 24px;
      height: 24px;

      vertical-align: middle;
      line-height: 70px;
    }

    .search-icon-block-on-tablet-mobile {
      display: none;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    .search-block {
      display: none;
    }
    .right-block {
      .avatar-block {
        padding: 15.5px 20px 15.5px 16px !important;
        span {
          display: none;
        }
      }

      .search-icon-block-on-tablet-mobile {
        display: block;
      }
    }
  }
}
