.footer {
  margin-top: 108px;
  padding: 48px 0 50px;

  background: url("https://xemphim.vip/static/skin/footer-bg.jpg");

  &.active {
    margin-top: 200px;
  }
  .container {
    width: 100%;
    max-width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
    .heading {
      color: var(--white-color);
      font-size: 1.6rem;
      margin: 0 0 24px;
      text-align: center;
      span {
        display: block;
      }
      a {
        color: #428bca;
        text-decoration: none;
        font-size: 1.8rem;

        cursor: pointer;
        &:hover {
          color: #dcf836;
        }
      }
    }
    .list {
      margin: 32px;
      color: var(--gray-color-b5);
      .item {
        list-style: circle;
        margin: 8px 0;
        line-height: 2.2rem;
      }
    }

    // layou contacts

    .layout-contacts {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
      .icon-link-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3em;
        height: 3em;

        border-radius: 50%;
        border: 1px solid hsla(0, 0%, 100%, 0.36);

        background: #071334;

        text-align: center;
        .icon {
          color: var(--white-color);
        }
        &:hover {
          background: #2f0a61;
        }
      }
    }
  }
}
