.item {
  display: block;
  padding: 15px 20px;

  color: #8391a2;

  cursor: pointer;
  &.active {
    color: var(--white-color);
    border-right: 2px solid red;
  }
  &.toggleActive {
    display: flex;
    align-items: center;
    gap: 10px;
    & span {
      display: block;
    }
  }

  span {
    display: none;
  }

  &:hover {
    color: var(--white-color);
    border-right: 2px solid red;
  }
}
