.wrapper {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #56635a;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  // margin-top: 8px;
}
