.item {
  position: relative;

  display: flex;
  user-select: none;
  align-items: center;
  white-space: nowrap;
  gap: 6px;
  padding: 15px 11.6px;

  color: #b4b2b9;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;

  transition: all linear 0.3s;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 14px;
  }
  &:hover {
    color: var(--white-color);
    transition: background-color linear 0.3s;
  }
  &.active {
    position: relative;

    border-radius: 4px;

    color: #221313;
    background: #a0c1e1;
  }
}

@media (max-width: 1023px) {
  .item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
