.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;

  gap: 8px;
  padding: 16px;
  margin: 16px 0;

  background-color: rgba(14, 39, 64, 0.45);
  .icon-home {
    color: var(--white-color);
  }
  .wrapper-content {
    position: relative;

    display: flex;
    gap: 8px;

    color: var(--gray-color-a3);

    cursor: pointer;

    &.light_theme {
      color: var(--white-color);
      &:hover {
        opacity: 0.8;
      }
    }
    &:hover {
      color: var(--white-color);
    }
    .icon-arrow-right {
      display: flex;
      align-items: center;
    }
  }
}
