.wrapper {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  flex-wrap: wrap;
  // background-color: #56635a;
  background-color: rgba(14, 39, 64, 0.45);
  margin: 16px 0;
  border-radius: 4px;
  .icon-home {
    color: var(--white-color);
  }
  .wrapper-content {
    display: flex;
    gap: 8px;
    position: relative;
    cursor: pointer;
    color: var(--gray-color-a3);
    &.light_theme {
      color: var(--white-color);
      &:hover {
        opacity: 0.8;
      }
    }
    &:hover {
      color: var(--white-color);
    }
    .icon-arrow-right {
      display: flex;
      align-items: center;
    }
  }
}
