.wrapper {
  width: 100%;
  border-radius: 4px;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.6);
  padding: 12px;

  background-color: var(--white-color);

  .btn-block {
    margin: 8px 0;
    .btn {
      border: none;
      border-radius: 4px;
      padding: 6px 24px;

      color: var(--black-color);
      background: rgba(0, 0, 0, 0.4);

      font-size: 2rem;

      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .title-block {
    display: flex;
    align-items: center;

    color: #98a6ad;

    font-size: 2rem;
    font-weight: 700;
    td:first-child {
      display: inline-block;
      min-width: 150px;
    }
    td {
      margin-top: 20px;
    }
  }
}
